<%- include("../../partials/header.ejs") %>

<div class="content">
<div class = "grid-container">
  <div class = "grid-item"><img src="screens/self_titled.png" alt="QOTSA cover art"></div>
  <div class = "grid-item">
    <ol>
      <li>Regular John</li>
      <li>Avon</li>
      <li>If Only</li>
      <li>Walkin' on the Sidewalks</li>
      <li>You Would Know</li>
      <li>How to Handle a Rope</li>
      <li>Mexicola</li>
      <li>Hispanic Impressions</li>
      <li>You Can't Quit Me Baby</li>
      <li>Give the Mule What He Wants</li>
      <li>I Was a Teenage Hand Models</li>
    </ol>
  </div>
</div>
</div>


<%- include("../../partials/footer.ejs") %>