<%- include("../../partials/header.ejs") %>

<div class="content">
  <div class = "grid-container">
    <div class = "grid-item"><img src="screens/self_titled.png" alt="QOTSA cover art"></div>
      <div class = "grid-item">
        <ol>
          <li>Regular John</li>
          <li>Avon</li>
          <li>If Only</li>
          <li>Walkin' on the Sidewalks</li>
          <li>You Would Know</li>
          <li>How to Handle a Rope</li>
          <li>Mexicola</li>
          <li>Hispanic Impressions</li>
          <li>You Can't Quit Me Baby</li>
          <li>Give the Mule What He Wants</li>
          <li>I Was a Teenage Hand Models</li>
        </ol>
    </div>
  </div>
</div>

<br>
<br>
  
<div class = "grid-container-content">
  <div class = "grid-item">
    <h3>The one I like the least?</h3>
  </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quam mauris, iaculis eget volutpat iaculis, dapibus vel turpis. Integer vehicula, sem quis mattis elementum, sapien massa hendrerit nisi, in feugiat orci sapien sit amet magna. Donec aliquet finibus rutrum. Ut id elit et felis eleifend porttitor ac ut diam. Morbi egestas nisl mi, consequat tempus mi bibendum id. Sed in turpis scelerisque, tristique tortor et, dictum turpis. Sed eu sodales leo. Maecenas turpis felis, eleifend a tristique a, ullamcorper vitae felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi sit amet velit blandit, placerat nisi id, vulputate ex. Nulla lectus nisl, placerat ac mauris non, congue pulvinar dui. In fringilla ligula dui, et lobortis arcu vestibulum eu. Proin nec tempor nulla. Vestibulum nec interdum tellus.
    </p>
 
    <p>Praesent lacus urna, accumsan a dolor at, dapibus dignissim massa. Sed accumsan enim at erat molestie, sit amet sodales quam maximus. Pellentesque commodo ullamcorper mollis. Integer et orci at quam tincidunt pretium. Donec id augue ligula. Cras rhoncus est justo, non vehicula odio gravida at. Etiam commodo lacus ac sapien sagittis ullamcorper. Suspendisse dignissim libero nec dolor convallis euismod. Morbi mattis scelerisque cursus. Quisque luctus commodo orci et venenatis. Proin sit amet molestie tortor, eget viverra tortor. Donec faucibus finibus massa vel aliquet. Nunc tempor tincidunt sem, ac varius libero suscipit id. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      
    Quisque pellentesque quam eget est venenatis lobortis. Cras egestas porta felis et finibus. Maecenas mollis, nunc vitae dapibus euismod, sapien orci convallis quam, vitae maximus urna leo in justo. Nam pretium magna ac magna dignissim accumsan. Vestibulum non tortor id lorem fringilla vestibulum et sit amet est. Mauris eget ante imperdiet, interdum quam in, mattis neque. Maecenas id lacinia erat. Sed felis enim, maximus sit amet est eget, aliquet pulvinar orci. Nulla dapibus, dui sit amet imperdiet suscipit, diam diam commodo ex, at volutpat arcu quam hendrerit tellus. Cras mollis purus et quam placerat, mattis porta quam vehicula. Vivamus sagittis nunc maximus lectus aliquam, eget scelerisque arcu scelerisque. Etiam consequat neque ac suscipit commodo. Aenean pellentesque posuere leo nec tempor. Fusce id odio dictum, ultrices est eget, sollicitudin arcu. Sed in arcu consectetur, pretium orci non, tristique dolor.
      
    Pellentesque pharetra ullamcorper lectus nec pretium. Quisque eu ante vitae lacus accumsan suscipit ac aliquam ex. Vivamus non dolor hendrerit, porta lacus eu, viverra nunc. Donec efficitur quis turpis vitae lacinia. Suspendisse sit amet pharetra sem. Aenean arcu felis, convallis a tincidunt non, iaculis sit amet justo. Vivamus eu velit non lacus egestas vehicula. Maecenas condimentum a felis sit amet sodales. Etiam pellentesque dolor eget tellus molestie sagittis. Aliquam sit amet tempor justo. Nulla non malesuada metus.</p>
  </div>



<%- include("../../partials/footer.ejs") %>