<%- include("partials/header.ejs") %>

<div class="grid-container">
  <div class="grid-item">
    <p>I have started this website as a project to help me track my progress in learning webdev. It is nothing fancy, but should show the progress I make over time as I add new features here and there. To make it more fun I will be writing about stuff that is of interest to me or that makes me stop for a second and think about "it".</p>

    <p>Over time I hope this website will become unrecognizable compared to what it looked like when I started</p>

    <p>I hope the same can be said about me...</p>

    <p>If you want to write with feedback or just to discuss some of the things I have written, please do!</p>
  </div>
  <div class="grid-item">
    <p>Email: aferensztajn@gmail.com</p>
    <br>
    <p>X: </p>
  </div>
</div>


<%- include("partials/footer.ejs") %>