<%- include("partials/header.ejs") %>


<!--add here a bootstrap component of CENTERED HERO-->

<h1>TEST</h1>>
<!--Below bootsrap centered hero add one for  recent posts OR add flex box/grid for recent posts-->



<%- include("partials/footer.ejs") %>