
body {
    background-color: #212529;
    color: azure;
    display: grid
}

.link-body-emphasis {
    color: aliceblue !important; 
}

.text-body-emphasis {
    color: aliceblue !important;
}

.lead text-body-secondary {
    color: aliceblue !important;
}

.card {
    border: 0
  }

