
body {
    background-color: #212529;
    color: azure;

}

.link-body-emphasis {
    color: aliceblue !important; 
}

.text-body-emphasis {
    color: aliceblue !important;
}

.lead text-body-secondary {
    color: aliceblue !important;
}

footer {
    margin-top: 30vh;
  }

.card {
    border: 0
  }
